body {
    /*font-size: 0.625em;*/
    font-size: 0.625em;
    line-height: 0.8em;
}
/*h1{*/
    /*color:red*/
/*}*/
/*h2{*/
    /*color:yellow;*/
/*}*/
/*h3{*/
    /*color:blue;*/
/*}*/
/*h4{*/
    /*color:blueviolet;*/
/*}*/
h1{
    color:dimgray;
    font-size: 0.8em;
    line-height: 0.8em;
}
h4{
    color:dimgray;
    font-size: 0.825em;
    line-height: 1.1em;
}

h5{
    color:gray;
    font-size: 0.625em;
    line-height: 1.5em;
    font-style: italic;
}
/*code{*/
    /*color:green;*/
/*}*/
foo{
    color:chocolate;
}
img {
    width: 70px;
    height: 12px;
}

abbr[title]:after,
a[href]:after {
    content: "";
}